<div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Task List</h4>
                  <p class="card-category"> List of Tasks</p>
                </div>
                <div class="card-body">
                  <div style="padding-left: 88%;">
                  <a href="/addUser" class="btn btn-primary pull-right">Add Task</a>
                </div>
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <tr>
                          <th>Sr No.</th>
                          <th>Title</th>
                          <th>Description</th>
                          <th>Created By</th>
                          <th>Due Date</th>
                          <th>Reviewers</th>
                          <th>Done By</th>
                          <th>Mark As Done</th>
                        </tr>
                      </thead>
                      <tbody>
                        <%taskList.map(function(data, i){%>
                        <tr>
                          <td><%=i+1%></td>
                          <td><%=data.task_title%></td>
                          <td><%=data.task_description%></td>
                          <td><%=data.first_name%></td>
                          <td><%=data.due_date%></td>
                          <td><%=data.reviewers%></td>
                          <td><%=data.done_by%></td>
                          <td><input type="checkbox" <%if(data.status==1){%>checked<%}%> id="done" onchange="done(<%=data.id%>)"></td>
                        </tr>
                        <%})%>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <script type="text/javascript">
          function done(task_id){
            if ($('#done').is(":checked")){
              var x = 1;
            }else{
              var x = 2;
            }
            var token = $.cookie("token");
            $.ajax({
              type: "PUT",
                url: '/changeTaskStatus',
                data: {status: x, task_id: task_id},
                beforeSend: function(xhr){xhr.setRequestHeader('authorization', token);},
                datatype:'json',
                success: function (res) {
                  $('#assign').modal('toggle');
                }
            });
          }
        </script>